<div class="card">
  <div class="card-content">
    <span class="card-title">Agregar Personas</span>
    <form (ngSubmit)="onSubmit()" class="col s6">
      <div >
          <i class="fas fa-address-book"></i>
        <div class="input-field col-s6">
          <input type="text" placeholder="Agregar Apellido" [(ngModel)]="task.apellido" name="title">
         
           <label>Apellido</label>
        </div>
        <i class="fas fa-address-book"></i>
        <div class="input-field col-s6">
            <input type="text" placeholder="Agregar Nombre" [(ngModel)]="task.nombre" name="description">
            <label>Nombre</label>
          </div>
      </div>
      <input type="submit" class="btn light-blue">
    </form>
  </div>
</div>
