<div class="card">
    <div class="card-content">
      <span class="card-title">Agregar Personas</span>
      <form (ngSubmit)="onSubmit()" class="col s6">
        <div >
          <i class="fas fa-address-book"></i>
          <div class="input-field col-s6">
            <input type="text" placeholder="Agregar Apellido" [(ngModel)]="persona.apellido" name="apellido">
            <label>Apellido</label>
          </div>
          <i class="fas fa-address-book"></i>
          <div class="input-field col-s6">
            <input type="text" placeholder="Agregar Nombre" [(ngModel)]="persona.nombre" name="nombre">
            <label>Nombre</label>
          </div>
          <div class="input-field col-s6">
            <input type="text" placeholder="Agregar Documento" [(ngModel)]="persona.documento" name="documento">
            <label>Documento</label>
          </div>
          <div class="input-field col-s6">
            <input type="text" placeholder="Agregar Domicilio" [(ngModel)]="persona.domicilio" name="domicilio">
            <label>Domicilio</label>
          </div>
        </div>
        <input type="submit" class="btn light-blue">
      </form>
    </div>

   
      
  </div>

  
  <app-alerta [defaultAlerts]="defaultAlerts"></app-alerta>
  <!-- <app-alerta></app-alerta>  -->

  
  